*{
    margin: 0;
    padding: 0;
}

.container5{
    height: 40vh;
    width: 100vw;
    display: flex;
    
}

.card1,.card2,.card3{
    width: 25vw;
    height: 50vh;
    text-align: center;
    margin: 10px 60px;
}

.container5>b{
    font-size: 22px;
}

.prof1{
    margin: 40px 125px 50px 125px;
    border-radius: 40px;
    vertical-align: middle;
    height: 70px;
    width: 70px;
}

.teamname{
    padding-top: 10px;
}